<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Shows Page</title>
   </head>
   <body>
      <h1>CampSite: <%=campground.title%></h1>
      <h2>CampSite: <%=campground.location%></h2>
      <footer>
         <p>
            <a href="/campgrounds/<%=campground._id%>/edit">edit</a>
         </p>
         <p>
             <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
         </p>
      </footer>
      <a href="/campgrounds">All campground</a>
   </body>
</html>
=======
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows Page</title>
</head>
<body>
    <h1>CampSite: <%=campground.title%></h1>
    <h2>CampSite: <%=campground.location%></h2>
    <footer><a href="/campgrounds">back to campgrounds</a></footer>
</body>
</html>
>>>>>>> origin/main
